@import url("https://fonts.googleapis.com/css?family=Schoolbell");

body {
    background-image: url("/assets/img/shared/pattern.jpg");
}

li {
    list-style-type: none;
}

.spantitle {
    display: block;
    font-weight: normal;
    margin-top: .8rem;
    margin-bottom: 0rem;
}

.post-content {
    font-family: "Schoolbell", cursive;
    max-width: 95%;
}

.post-content img {
    border: double purple;
}

.center-container > div {
    display: table;
    width: 95%;
    text-align: center;
    background-color: white;
}

.center-container div, .center-container ul, .center-container h1, .center-container h3 {
    border: double black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.center-container > .main {
    display: table;
}

.left {
    display: table-cell !important;
}


.left > div {
    font-family: "Schoolbell", cursive;
    font-size: 1.5rem;
    background-color: #ff9999;
    border-radius: .5rem;
    padding: .2rem;
    border: none !important;
    width: 4.5rem;
}

.right {
    display: table-cell !important;
}

.no-border {
    border: none !important;
}

.center-container h3 {
    font-size: 3rem;
}

.center-container ul {
    font-family: "Schoolbell", cursive;
}

.enter-header {
    font-size: 2rem;
}

.enter {
    display: table;
    font-family: "Schoolbell", cursive;
    font-size: 3rem;
}

.header {
    display: flex !important;
    justify-content: space-around;
    max-height: 100%;
    max-width: 100%;
}

.header > div {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
}

.header > :not(.banner) > img {
    flex-basis: 0;
    flex-grow: 1;
    overflow-y: auto;
    object-fit: contain;
}

.banner {
    width: 60%;
}

.banner-img {
    max-width: 100%;
}

.highlight pre {
    overflow: auto;
    padding: 16px;
}

.markdown-body img {
    max-width: 95%;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
}

.rainbow-text-animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow-animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
