---
---

@import "{{ site.theme }}";

html {
    margin-right: 0;
}

.spantitle {
    display: block;
    font-weight: normal;
    margin-top: .8rem;
    margin-bottom: 0rem;
}

.MathJax_Display {
    overflow: auto;
    overflow-y: hidden;
}

#page-title {
    margin-right: 5rem;   
}

#page-nav {
    display: inline-flex;
    font-size:1.2rem;
}

#page-nav a {
    margin-right: 2rem
}
