<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    {% if page.css_url %}
    <link rel="stylesheet" href="{{ "/assets/css/" | append: page.css_url | append: "?v=" | append: site.github.build_revision | relative_url }}">
    {% endif %}

  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">

      {{ content }}

    </div>

    {% include mathjax.html %}

  </body>
</html>