---
layout: modernbase
---

<h1 class="no-border post-title">
{{ page.title }}
<span class="spantitle" style="font-size: 1.5rem;">
{% include pretty_date.md date=page.date %}
</span>
{% if site.tags != "" %}
{% include collect_tags.md %}
{% endif %}
<span class="spantitle" style="font-size: 1rem;">Tags:
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    {% if forloop.first != true %}&nbsp;{% endif %}
    <a href="{{ page.collection_url }}tags/{{ tag_name }}"><code style="white-space: nowrap;">{{ tag_name }}</code></a>
  {% endfor %}
</span>
</h1>
<div class="post-content">
{{ content }}
</div>
<br>
<script src="https://utteranc.es/client.js"
        repo="wileyyugioh/wileyyugioh.github.io"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>